html {
	/*font: normal normal normal 100%/1.5 "Helvetica Neue", Arial, sans-serif;*/
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
	color: #4d4f4f;
	margin: 0;
	padding: 0 0 110px;
	background-color: #232323;
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0 0 110px;
	padding: 0;
	border-top: 10px solid $eclipseBlue;
	background: #eee url("https://eclipsepd.com/assets/img/patterns/grid.png") repeat scroll 50% 50%;
	position: relative;
}

a {
    text-decoration: none;
    color: $eclipseBlue;
}

a:hover {
    color: $eclipseBlueHover;
    }

.navbar-fixed {
    top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;
}

.page {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    max-width: 960px;
    background-color: $testing;
    padding-left: 20px;
    padding-right: 20px;
    
    .stage {
    }
    
    .hero, .banner{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 20px;
    }
    
    .columns3 {
        display: grid;
        grid-gap: 0px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
        max-width: 960px;
        
        header {
            grid-column: span 2;
            margin: 0px;
        }
        
        li {list-style: none;}
        
        .map {
            grid-row: 1 / span 2;
            grid-column: 3;
        }
        
        .col-top {
            align-items: flex-start;
        }
        
        .expert {
            background-color: white;
            padding: 10px;
            border-radius: 10px;
            align-self: end;
            align-items: flex-end;
            box-shadow: 0px 0.125em 0.375em rgba(0, 0, 0, 0.2);
            margin-right: 10px;
                        
            ul {
                padding-left: 0px;
            }
            
            li {
                font-size: 0.9em;
                transition: background .15s ease-in-out;    
            }
            
            li:hover {
                background: #eee;
            }
        }
    }
    
    .columns4 {
        display: grid;
        grid-gap: 0px;

         .columns-how {
            display: inline-grid;
            grid-gap: 0px;
            @media screen and (min-width: 960px) {
                grid-template-columns: repeat(auto, 1fr);
                grid-auto-rows: repeat(auto-fit minmax(192px, auto));
                grid-auto-flow: column;
                grid-auto-columns: 192px;
                }
            @media screen and (max-width: 959px){
                
            }
            text-align: center;
            
            .how {
                padding-top: 20px;
                border-radius: 30px;
                
                img {
                    width: 80%;
                    max-width: 150px;
                    border-radius: 10px;
                }
            }
            
            .how:hover {
                background-color: rgba(216, 215, 215, 0.44);
                filter: grayscale(90%);
            }
            
            header {
                //grid-auto-columns: 1fr;
                margin: 0px;
                grid-row: 1;
                grid-column: span;
            }
        }
        
    }   
    
    .main-3col{
        grid-column: 2 / span 2;
    }    
    
    .side-3col{
        grid-column: 1;
        h1 {
            font-weight: 800;
            letter-spacing: 0.14em;
            text-transform: uppercase;
            font-size: 0.875rem;
        }    
        .story {
            background-color: red;
            position: relative;
            bottom: 0;
            left: 0;   
            }    
    }
    
    .contact {
        
    }
}

@media screen and (min-width: 40em) {
    .columns-how {
        grid-auto-columns: 190px;
    }
}

#help.header {
    margin: 0px;
    h2 {
        margin: 0px;
    }
}

.contactForm {
    text-align: center;
    padding: 20px 0px 0px 0px;
    
    header {
        text-align: left;
    }
    
    input, button {
        font-size: 20px;
        padding: 8px;   
        font-family: Arial;
        border: 2px solid $eclipseBlue;    
    }
    
    input {
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }
    
    button {
        background: $eclipseBlue;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        color: #ffffff;
        margin-left: -5px;
        cursor: hand;
        }
    button:hover {
        background: $eclipseBlueHover;
        }

    .icon {
    	display: inline-block;
    	color: white;
        width: 1em;
    	height: 1em;
    	fill: currentColor;
    	position: relative;
    	margin-top: -3px;
    	top: 3px;
        }   
        
    }
    
.areathumb {
    display: inline-grid;
}