$eclipseBlue: #1a9bd3;

$eclipseBlueHover: #39b1e5;

$default-transition-duration: 0.15s;
$default-transition-function: ease;

$default-box-shadow-color: rgba(0, 0, 0, 0.2);
$default-box-shadow-v-offset: 0.125em;
$default-box-shadow-blur: 0.375em;

$default-border-radius: 0.35em;

$mainwidth: 960px;

$testing: rgba(255,255,255,0.5); /* change last digit to 0 when final */

$article-layout-grid: (
    columns: 1,
    gutter: 0px,
);

$eclipseGradient: background: linear-gradient(to right, #ffffff 0%,#1a9bd3 50%,#1a9bd3 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */