.stage,
footer {
	width: 60em;
}

.icons {
	color: #aaa;
}

.area a span {
	background-color: #222;
}

.story-highlight h3.title-flag {
	background-color: #222;
}

.responsive-slideshow .slides ul li div.caption {
	background-color: #222;
}

.home .responsive-slideshow .slides ul li img {
	height: 368px;
}